.helper{
    margin-top:120px ;
  .container{
      border-top: 1px solid var(--bs-border-color);
    border-bottom:  1px solid var(--bs-border-color);
    padding-block: 20px;
.header{
    font-weight: 500;
    i{
        font-size: 16px;
    }
   span{
    font-size: 18px;

   }

    }
  
    .icons{
          i{
            font-size: 20px;
            border: 1px solid  var(--bs-bginput-color);
            padding: 8px;
            border-radius: 5px;
            background-color: #eeeeee57;
        }
       
    }
  }
}

.task-container{
    .card{
        overflow: hidden;
        .card-title{
            background-color: var(--bs-bginput-color);
            .status{
                font-weight: 600;
            }
            .counter{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 26px;
                height: 26px;
                border-radius: 50%;
                font-weight: 500;
                
            }
            .counter.next{
                background-color: #3f47dee5;
            }

            .counter.progress{
                background-color: #ff4719e5;
            }

            .counter.done{
                background-color: #15cf2be5;
            }

        }

        .task{
            .title{
                font-size: 18px;
                font-weight: 500;
            }

            .description{
                color: var(--bs-gray-color);
                font-size: 15px;
                margin-bottom: 8px;
            }
            .tag{
                padding: 3px 10px;
                width: fit-content;
                border-radius: 5px;
                margin-bottom: 15px;
                color: white;
                font-weight: 400;
            }
            .tag.Education{
                background-color:#2196F3 ;
            }

            .tag.Finance{
                background-color:#FFC107 ;
            }

            .tag.Health{
                background-color:#E91E63 ;
            }

            .tag.Productivity{
                background-color:#4CAF50 ;
            }
            i{
                transition: all var(--bs-transition-speed);
            }

            .fa-trash:hover{
                color: rgb(220 53 69);
            }

            .fa-pen-to-square:hover{
                color: rgb(255 193 7);
            }
            
        }
    }
.task{
    transition: all var( --bs-transition-speed);
}
    .task:hover{
        border-color: var(--bs-border-color);
            box-shadow: 0 4px 12px var(--bs-border-color);
    transform: translateY(-2px);

    }
}

.modal{
    background-color: rgba(0, 0, 0, 0.514);
    .form{
        background-color: var(  --bs-body-bg);
        padding: 30px 30px;
        border-radius: 10px;
        width: 700px;

        button{
            
            padding: 5px 5px;
            border-radius: 8px;
            color: var( --bs-text-color);
            font-size: 17px;
        }

        button#addTaskBtn{
            border:1px solid var(--bs-primary);
            background-color: var(--bs-primary);
        }

        button#updateTaskBtn{
             border:1px solid #0dcaf0;
             background-color: #0dcaf0;

            
        }
    }
}

.btn-add button{
        width: 200px;
          padding: 10px 5px;
            border-radius: 8px;
            color: var(-- --bs-text-color);
            font-size: 17px;
               border:1px solid var(--bs-primary);
            background-color: var(--bs-primary);

}

.logout{
    background-color: var(--bs-primary);
    width: 40px;
    height: 40px;
    bottom: 30px;
    right: 30px;
    i{
        font-size: 19px;
        color: var(--bs-text-color);
    }
}