
:root,
[data-bs-theme="light"] {
  --bs-body-bg: #fff;       
  --bs-body-color: #273238;     
  --bs-primary: #FFC100;       
  --bs-success: #2ECC71;   
   --form-bg-opacity: 0.85;     
  --bs-transition-speed:  0.3s ease;
   --bs-border-color:rgba(128, 128, 128, 0.438);
   --bs-bginput-color:rgba(128, 128, 128, 0.041);
    --bs-text-color:#000000;
    --bs-gray-color:rgba(0, 0, 0, 0.493);
}

[data-bs-theme="dark"] {
   --bs-text-color: white;
  --bs-body-bg: #273238;        
  --bs-body-color: #FFF;     
  --bs-primary: #FFC100;        
  --bs-success: #27AE60;  
   --bs-border-color: rgba(128, 128, 128, 0.795); 
    --bs-bginput-color:rgba(128, 128, 128, 0.795);  
    --bs-gray-color: rgba(255, 255, 255, 0.74);  
}


body{
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
}

img{
    width: 100%;
   
    display: block;
}

ul{
    list-style: none;
}

.form-control:focus ,.form-select:focus{

    background-color: var(--bs-body-bg);  
    color: var(--bs-body-color);   
    border-color: var(--bs-primary);  
    box-shadow: 0 0 0 .25rem #ffbf009d;
}

input + p ,textarea+p{
    background-color: #f8d7da;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 8px;
}